EnsembleConfig(        args='--exclude_features one_body__p_aa_pp one_body__fa_dun two_body__fa_atr two_body__fa_rep two_body__fa_elec two_body__fa_sol two_body__hbond_sr_bb two_body__hbond_lr_bb two_body__hbond_bb_sc two_body__hbond_sc --feature_mapper_to_binary_level_std 0.0 --feature_mapper float_ --dst__graph_type homogeneous --dst__max_distance_a 5 --model_args num_conv_layers=2 conv_type=GATv2Conv out_channels=64 hidden_channels=8 num_classes=2 group=mean num_heads=8 gmt_conv_type=GCNConv num_nodes=20 gmt_pooling_ratio=0.25 dropout=0.05 --model_name GCN_CONV_GMTRANSFORMER_POOL --experiment_name gnn_solubility',
        esm_mapper=None
    )
